@using MVCWebProject.ViewModels
@model UsersEditViewModel

<h2>Edit</h2>


@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
<hr />
@Html.HiddenFor(model => model.Id)
    @Html.LabelFor(model => model.FirstName)
        @Html.EditorFor(model => model.FirstName)
        @Html.ValidationMessageFor(model => model.FirstName, "")
    @Html.LabelFor(model => model.LastName)
        @Html.EditorFor(model => model.LastName)
        @Html.ValidationMessageFor(model => model.LastName)
    @Html.LabelFor(model => model.Phone)
        @Html.EditorFor(model => model.Phone)
        @Html.ValidationMessageFor(model => model.Phone, "")
    @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email)
        @Html.ValidationMessageFor(model => model.Email, "")
    @Html.LabelFor(model => model.Title)
        @Html.DropDownListFor(model => model.Title, Model.Titles as SelectList)
        @Html.ValidationMessageFor(model => model.Title)
    @Html.LabelFor(model => model.Country)
        @Html.DropDownListFor(model => model.Country, Model.Countries as SelectList, new { id = "ddlCountries" })
        @Html.ValidationMessageFor(model => model.Country, "")
    <div id="divCities">
        @Html.LabelFor(model => model.City)
            @Html.DropDownListFor(model => model.City, Model.Cities as SelectList, new { id = "ddlCities" })
            @Html.ValidationMessageFor(model => model.City, "")
    </div>
    @Html.LabelFor(model => model.Comments)
        @Html.TextAreaFor(model => model.Comments, new { @rows = 5 })
        @Html.ValidationMessageFor(model => model.Comments, "")
        <input type="submit" value="Save" class="btn btn-primary" />
}

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#ddlCountries").change(function () {
            var SelectCountry = $('#ddlCountries').val();
            $.ajax({
                url: '@Url.Action("Edit", "Users")',
                datatype: "json",
                data: { "SelectCountry": SelectCountry },
                type: "POST",
                contenttype: 'application/json; charset=utf-8',
                success: function (partionalView) {
                    $("#divCities").html(partionalView);
                    $('@Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })').insertAfter('#ddlCities');
                    $('form').removeData("validator");
                    $("form").removeData("unobtrusiveValidation");
                    $.validator.unobtrusive.parse(document);
                },
                error: function (xhr) {
                    alert('error');
                }
            });
        });
    });
    </script>
}
