@using MVCWebProject.Utilities.Helpers
@using MVCWebProject.ViewModels.Users
@model UsersListingDataViewModel
<div class="row">
    <div class="col-1-1">
        <table>
            <thead>
                <tr>
                    <th>
                        @Ajax.ActionLink("Name", "Index", new
                        {
                            sortOption = "FirstName",
                            descending = Model.SortOption == "FirstName" ? (Model.Descending ? false : true) : false,
                            searchString = Model.Search,
                            page = Model.Page
                        }, new AjaxOptions { UpdateTargetId = "Listing" })
                    </th>
                    <th>
                        @Ajax.ActionLink("Phone", "Index", new
                        {
                            sortOption = "Phone",
                            descending = Model.SortOption == "Phone" ? (Model.Descending ? false : true) : false,
                            searchString = Model.Search,
                            page = Model.Page
                        }, new AjaxOptions { UpdateTargetId = "Listing" })
                    </th>
                    <th>
                        @Ajax.ActionLink("Email", "Index", new
                        {
                            sortOption = "Email",
                            descending = Model.SortOption == "Email" ? (Model.Descending ? false : true) : false,
                            searchString = Model.Search,
                            page = Model.Page
                        }, new AjaxOptions { UpdateTargetId = "Listing" })
                    </th>
                    <th>
                        @Ajax.ActionLink("Title", "Index", new
                        {
                            sortOption = "Title",
                            descending = Model.SortOption == "Title" ? (Model.Descending ? false : true) : false,
                            searchString = Model.Search,
                            page = Model.Page
                        }, new AjaxOptions { UpdateTargetId = "Listing" })
                    </th>
                    <th>
                        @Ajax.ActionLink("Country", "Index", new
                        {
                            sortOption = "Country",
                            descending = Model.SortOption == "Country" ? (Model.Descending ? false : true) : false,
                            searchString = Model.Search,
                            page = Model.Page
                        }, new AjaxOptions { UpdateTargetId = "Listing" })
                    </th>
                    <th>
                        @Ajax.ActionLink("City", "Index", new
                        {
                            sortOption = "City",
                            descending = Model.SortOption == "City" ? (Model.Descending ? false : true) : false,
                            searchString = Model.Search,
                            page = Model.Page
                        }, new AjaxOptions { UpdateTargetId = "Listing" })
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.PagingList.Items)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => p.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => p.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => p.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => p.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => p.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => p.City)
                        </td>
                        <td>
                            @Ajax.ActionLink("Comments", "Comments", new { id = p.Id }, new AjaxOptions { UpdateTargetId = "modal" }) |
                            @Html.ActionLink("Edit", "Edit", new { id = p.Id}) |
                            @Ajax.ActionLink("Delete", "Delete", new { id = p.Id }, new AjaxOptions { UpdateTargetId = "modal" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-1-3 right">
        <div class="pagination right">
            @Html.Paging(Model.PagingList.CurrentPage, Model.PagingList.TotalPage, "Index", "Users",
                       new { searchString = Model.Search, sortOption = Model.SortOption, descending = Model.Descending })
        </div>
    </div>
</div>