@using X.PagedList
@using X.PagedList.Mvc
@using MVCWebProject.ViewModels
@model IPagedList<UsersListingViewModel>
<table>
    @foreach (var p in Model)
    {
    <tr class="table">
        <td>
            @Html.DisplayFor(modelItem => p.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => p.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => p.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => p.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => p.Country)

        </td>
        <td>
            @Html.DisplayFor(modelItem => p.City)
        </td>
        <td>
            @Html.ActionLink("Comments", "Comments", new { id = p.Id }, new { @class = "PopUp" }) |
            @Html.ActionLink("Edit", "Edit", new { id = p.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = p.Id }, new { @class = "PopUp" })
        </td>
    </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))