@using X.PagedList
@using X.PagedList.Mvc
@using MVCWebProject.ViewModels
@model IPagedList<UsersListingViewModel>
<table class = "table">
    <tr>
        <th>
            @Ajax.ActionLink("Name", "Index", new { sortOption = "Name",
            searchString = ViewBag.searchString, page = ViewBag.page }, new AjaxOptions { UpdateTargetId = "Listing" })
        </th>
        <th>
            @Ajax.ActionLink("Phone", "Index", new { sortOption = "Phone",
            searchString = ViewBag.searchString, page = ViewBag.page }, new AjaxOptions { UpdateTargetId = "Listing" })
        </th>
        <th>
            @Ajax.ActionLink("Email", "Index", new { sortOption = "Email",
            searchString = ViewBag.searchString, page = ViewBag.page }, new AjaxOptions { UpdateTargetId = "Listing" })
        </th>
        <th>
            @Ajax.ActionLink("Title", "Index", new { sortOption = "Title",
            searchString = ViewBag.searchString, page = ViewBag.page }, new AjaxOptions { UpdateTargetId = "Listing" })
        </th>
        <th>
            @Ajax.ActionLink("Country", "Index", new { sortOption = "Country",
            searchString = ViewBag.searchString, page = ViewBag.page }, new AjaxOptions { UpdateTargetId = "Listing" })
        </th>
        <th>
            @Ajax.ActionLink("City", "Index", new { sortOption = "City",
            searchString = ViewBag.searchString, page = ViewBag.page }, new AjaxOptions { UpdateTargetId = "Listing" })
        </th>
        <th>
            <p>Actions</p>
        </th>
    </tr>
    @foreach (var p in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => p.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => p.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => p.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => p.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => p.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => p.City)
        </td>
        <td>
            @Ajax.ActionLink("Comments", "Comments", new { id = p.Id }, new AjaxOptions { OnSuccess = "OnSuccess", UpdateTargetId = "Dialog" }) |
            @Html.ActionLink("Edit", "Edit", new { id = p.Id }) |
            @Ajax.ActionLink("Delete", "Delete", new { id = p.Id }, new AjaxOptions { OnSuccess = "OnSuccess", UpdateTargetId = "Dialog" })
        </td>
    </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = ViewBag.searchString, sortOption = ViewBag.sortOption}))